body {
	background-color: #eee;
	background-image: url(../img/noise.png);
	background-repeat: repeat-x repeat-y;
}

html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

h3 { line-height: inherit; }

a.underlined {
	color: #666;
	text-decoration: underline;
}
a.underlined:hover {
	color: #000;
}

code {
  color: #404040;
  background: none;
  border: none;
  font-weight: bold;
}

hr {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #ffffff;
}
hr.padded { margin-top: 30px; margin-bottom: 30px; }

/* Wrapper for page content to push down footer */
#wrapper {
	min-height: 100%;
	height: auto !important;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

#push { height: 60px; }
footer {
    height: 50px;
}

.footer-top-trim {
	width: 100%;
	height: 0px;
	border-top: 1px solid #d0d0d0;
}
footer {
	text-shadow: 0 1px 1px rgba(255,255,255,0.9);
	border-top: 1px solid #ffffff;
}

.align-middle { vertical-align: middle; }
.monospace { font-family: Consolas, monospace; }
.spacer10 { height: 10px; }
.spacer20 { height: 20px; }
.spacer40 { height: 40px; }
.spacer-feature { height: 60px; }

#input { width: 406px; }

tbody tr:hover { background-color: #f0f0f0; }
tbody tr a.action { visibility: hidden; }
tbody tr:hover a.action { visibility: visible; }


/* Landing Page */
.jumbotron {
  margin: 60px 0px;
}
.jumbotron h1 {
  font-size: 72px;
}
.jumbotron .lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200%;
}

.jumbotron.lower {
  margin-bottom: 20px;
}

p.pitch {
  margin-top: 70px;
  line-height: 110%;
  font-size: 26px;
  font-weight: 200%;
}